* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --bg-clr-dark: #000000;
    --bg-clr-light: #FFFFFF;
  
    --txt-clr-light: #FFFFFF;
    --txt-clr-grey: #c2bfbf;
    --txt-clr-orange: #F3A322;
    --txt-clr-dark: #1C1C1C;
  
    --primary-font: 'Roboto', sans-serif;

    --title-fs: 18px;
    --subtitle-fs: 15px;
    --text-fs: 14px;

    --line-height: 1.5;  
  }